<label>
  <h4>Nombre</h4>
  <input type="text" name="estado" id="estado" value="<%= locals.estado?.estado %>">
  <span id="error-estado"><%= locals?.errors?.nombre?.msg  %></span>
</label>
<label>
  <h4>Descripción</h4>
  <textarea name="descripcion" id="descripcion" ><%= locals.estado?.descripcion%></textarea>
  <span id="error-descripcion"><%= locals.errors?.descripcion?.msg %></span>
</label>
<%- include(`./submitButton.ejs`) %>