<label>
  <h4>Nombre</h4>
  <input type="text" name="nombre" id="nombre" value="<%= locals.usuario?.nombre  %>">
  <span id="error-nombre"><%= locals.errors?.nombre?.msg  %></span>
</label>
<label>
  <h4>Email</h4>
  <input type="text" name="email" id="email" value="<%= locals.usuario?.email %>">
  <span id="error-email"><%= locals.errors?.email?.msg  %></span>
</label>
<label>
  <h4>Rol</h4>
  <select name="rol_id" id="rol">
    <option value="" <%= (!locals.usuario?.rol_id) && 'selected' %> disabled>Seleccione el Rol</option>
    <% for (const rol of roles) { %>
      <option value="<%= rol.id %>" <%= (locals.usuario?.rol_id === rol.id) && 'selected'  %> > <%= rol.rol %> </option>
    <% } %>
  </select>
  <span id="error-rol"><%= locals.errors?.rol?.msg %></span>
</label>
<label>
  <h4>Contraseña</h4>
  <input type="password" name="password" id="password" value="<%= locals.usuario?.password  %>">
  <span id="error-password"><%= locals.errors?.password?.msg %></span>
</label>
<%- include(`./submitButton.ejs`) %>