<thead>
  <tr>
    <th> # </th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Creado</th>
    <th>Modificado</th>
    <th>Acciones</th>
  </tr>
</thead>
<tbody>
  <% for (const estado of estados) { %>
    <tr>
      <td><%= estado.id %></td>
      <td><%= estado.estado %></td>
      <td><%= estado.descripcion != null ? estado.descripcion : " - " %></td>
      <td><%= estado.created_at %></td>
      <td><%= estado.updated_at %></td>
      <td>
        <a href="/dashboard/estados/editar/<%= estado.id %>">
          <button>
            Editar
          </button>
        </a>
      </td>
    </tr>
  <% } %>
</tbody>