<section>
  <%- include("../partials/dashboard/buttonsHeader.ejs") %>
  <table id="main-content">
    <thead>
      <tr>
        <th> # </th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Creado</th>
        <th>Modificado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% for (const estado of estados) { %>
        <tr>
          <td><%= estado.id %></td>
          <td><%= estado.nombre %></td>
          <td><%= estado.descripcion != null ? estado.descripcion : " - " %></td>
          <td><%= estado.created_at %></td>
          <td><%= estado.updated_at %></td>
          <td>
            <a href="/dashboard/estados/editar/<%= estado.id %>">
              <button>
                Editar
              </button>
            </a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table >
    <form action="/dashboard/estados/nuevo" method="POST"  id="new-content" hidden>
      <%- include("../partials/dashboard/formEstados.ejs") %>
    </form>
</section>